@font-face {
  font-family: rejouice;
  src: url("./media/fonts/Rejouice-Headline.woff2");
}

@font-face {
  font-family: nb;
  src: url("./media/fonts/NBInternationalProBoo.woff2");
}

:root {
  --BACKGROUND: #faf8f3;
  --ACCENT: #ff5f38;
  --CONTAINER-PADDING: calc(5.5vw + 0.2em) calc(2.8vw + 0.2em) 0
    calc(2.8vw + 0.2em);
  --REJOUICE: calc(26.5vw + 0.3rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--BACKGROUND);
}

#main {
  width: 100%;
  z-index: 3;
  overflow: hidden;
  font-family: nb;
}

a{
  color: black;
  text-align: center;
}

#hero {
  background-color: var(--ACCENT);
  color: white;
  height: 100%;
  position: relative;
  width: 100%;
}

#hero video {
  height: 100vh;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

#hero-content {
  background-color: rgba(0, 0, 0, 0.177);
  font-family: rejouice;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.outline-btn {
  border-radius: 4em;
  border: 1.5px solid white;
  color: white;
  font-family: nb;
  font-size: calc(0.55vw + 0.7rem);
  font-weight: 100;
  padding: 0.5rem;
  background-color: transparent;
  text-decoration: none;
}

nav span,
nav p {
  color: white;
  z-index: 3;
  padding: 0.5rem;
  font-size: calc(0.55vw + 0.7rem);
}

#nav-btn {
  border-color: white;
}

#hero-text {
  background-color: transparent;
  bottom: 0;
  font-size: var(--REJOUICE);
  font-weight: 100;
  line-height: 75%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: inherit;
}

#cursor1,
#cursor1,
#cursor2 span,
#cursor2 span {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: calc(7rem * 2);
  color: white;
  display: flex;
  font-size: 1rem;
  height: 7rem;
  justify-content: center;
  position: absolute;
  width: 7rem;
  z-index: 1;
  opacity: 0;
}
#intro,
#philosophy,
#strategy {
  display: flex;
  flex-direction: column;
  padding: var(--CONTAINER-PADDING);
}

.headings {
  align-items: flex-end;
  display: flex;
  font-size: calc(1.1vw + 0.5rem);
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.philosophy-heading,
.strategy-heading {
  display: flex;
  flex-direction: column;
  font-size: calc(1.1vw + 0.5rem);
  justify-content: space-between;
  margin-bottom: 1rem;
}

.heading-separator {
  width: 100%;
  height: 0.05em;
  background-color: black;
  margin-bottom: 0.3rem;
  position: relative;
}

#intro-text,
.philosophy-text,
.strategy-text {
  text-indent: 2ch;
  text-align: start;
  font-size: calc(3.5vw + 0.6rem);
  margin: 1vw 0 1vw 0;
}

#idkfn {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3.5vw + 0.7em);
  margin: calc(20vw + 0.2rem) 0 calc(10vw + 0.2rem) 0;
}

.about span,
#idkfn > span{
  display: block;
  font-size: calc(.33vw + .7rem);
  font-weight: 100;
}

#idkfn p {
  text-decoration: underline;
}

#card-container {
  padding: var(--CONTAINER-PADDING);
  width: 100%;
}

.container-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: calc(1.3vw + 0.3rem);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
}
.card .brand {
  top: 82%;
  left: 29%;
  width: 40%;
  height: auto;
}

.card video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.card img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.card:hover .image {
  opacity: 0;
  transition: all ease-in 0.4s;
}

#seats {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18vh 0;
  position: relative;
}

#seats .seats-container {
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seats-container img {
  transform: scale(1.1);
  background-size: cover;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
}

.seats-container video {
  width: 100%;
  height: auto;
  transform: scale(1.4);
  z-index: 2;
}

.seats-container svg {
  height: auto;
  width: 85%;
  position: absolute;
  z-index: 3;
}

#cursor2,
#cursor2 span {
  z-index: 5;
  background-color: black;
}

#seats-counter {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  color: white;
  gap: calc(2vw + 0.5rem);
}

#seats-counter hgroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#large-count {
  font-size: calc(3.62vw + 0.6rem);
}

#small-count {
  font-size: calc(1.1vw + 0.6rem);
}

#seat-btn {
  padding: 1vw 1.5vw;
}

.slider-section {
  width: 100%;
  position: relative;
  padding: var(--CONTAINER-PADDING);
}

.slider-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60vmin;
}

.slider-heading p {
  font-size: calc(6.95vw + 2rem);
  font-weight: 100;
  font-family: rejouice;
  line-height: 0.9;
  text-wrap: wrap;
}
.slider-heading a {
  font-size: calc(1.06vw + 0.55rem);
  font-weight: 100;
  font-family: rejouice;
  line-height: 0.9;
  text-wrap: nowrap;
}

#touch-separator {
  position: absolute;
  top: calc(75% + .2rem);
  width: 93vw;
}

.image-slider {
  position: absolute;
  top: calc(61.5% + .2rem);
  display: flex;
  flex-wrap: nowrap;
  gap: 0.75rem;
}

.images {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
  animation: slide 3s infinite linear;
  margin-left: 0.75rem;
}

.images > img {
  min-width: 9.5rem;
  width: 22vw;
  height: fit-content;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:calc(28vmax + 4.6rem) 0 calc(16vw + .5rem) 0;
}

.about a {
  font-weight: 100;
  font-size: calc(2.15vw + 2.23rem);
  background-color: transparent;
  border: none;
  font-family: nb;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1.6rem 2.7%;
  flex-wrap: wrap;
}

footer h3 {
  font-weight: 100;
  font-size: 1.54rem;
}

footer button {
  margin-top: 1.3rem;
  padding: 0.8em 1em;
  font-size: calc(0.4vw + 0.66rem);
  border-radius: 2em;
  background-color: transparent;
  border: 0.07rem solid white;
  color: white;
}

.upper-half,
.nav-and-social {
  display: flex;
  justify-content: space-between;
  font-size: calc(0.4vw + 0.66rem);
  line-height: 1.3rem;
  text-wrap: nowrap;
  flex-wrap: wrap;
  gap: .7rem;
}

.upper-half {
  width: 100%;
  padding-top:2vw;
}

.relax-div {
  flex-grow: 11;
  margin-bottom: 3vw;
}
.nav-and-social {
  flex-grow: 1;
  padding: 1vw 2vw;
  font-size: calc(0.3vw + 0.74rem);
}

footer a:any-link {
  color: white;
  text-decoration: none;
}

footer .address-contacts {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: calc(15.8vw);
  flex-wrap: wrap;
  font-size: calc(0.3vw + 0.74rem);
  gap: 2rem;
  padding: 0 2% 0 0;
}

.address-contacts hgroup {
  text-wrap: nowrap;
  flex-grow: 14;
}
.address-contacts .contacts {
  display: flex;
  min-width: none;
  flex-grow: 1;
  justify-content: space-between;
  gap: 2rem;
}
footer span {
  font-size: calc(var(--REJOUICE) * 0.97);
  font-family: rejouice;
  margin-top: 5vh;
  line-height: 60%;
}

.nav-and-social .nav li::marker,
.social li::marker {
  content: "";
}

@media screen and (min-width: 426px) {
  #nav-btn {
    border: 0px none transparent;
    text-decoration: underline;
  }

  .card img {
    opacity: 1;
  }

  #card-container {
    width: 100vw;
  }

  .cards {
    gap: calc(0.25vw + 0.5rem);
  }

  .card {
    width: calc(0.307 * 100vw);
  }

  #seats .seats-container {
    width: 48vw;
  }

  .touch-heading {
    font-size: 8rem;
  }
}

@media screen and (min-width: 1000px) {
  #cursor1,
  #cursor1,
  #cursor2 span,
  #cursor2 span {
    opacity: 1;
  }

  #seat-btn {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 1241px) {
  .card {
    width: calc(0.295 * 100vw);
  }

  .card img {
    opacity: 0;
  }

  .touch-heading {
    font-size: 10vw;
  }
}
